# Ignore large test data
tests/file/large_data.json

# Ignore benchmark results
tests/*/*_results.md
tests/*/*_resources.txt
tests/*/*_results.json

# Ignore node modules
node_modules/

# Ignore any log files
*.log

# Ignore Docker build context
.dockerignore